/* src/components/TypingTest.css */
.typing-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.sample-text {
  font-size: 24px;
  line-height: 1.5;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  margin-bottom: 20px;
  text-align: justify;
}

.sample-text span {
  white-space: pre;
}

.correct {
  color: #4caf50;
}

.incorrect {
  color: #f44336;
  text-decoration: underline;
}

.status {
  margin-top: 10px;
  font-size: 14px;
}

.results {
  margin-top: 20px;
  font-size: 18px;
}
